# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/
.venv.bak/

# IDE files
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Log files
*.log

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
*.DS_Store
*.egg-info/
dist/
build/
*.egg
